.custom-icon {
    color:"#005da7"
  }
.biodata
  {
  color:"#005da7"
}
.cont {
  padding-top: 100px;
}
/* .call{
  align-items: end;
  justify-content: end;
  text-align: right;
  float: right;
  text-align: left;
  align-items: end;
  justify-content: end;
  text-align: left;
  position:fixed;
  overflow: hidden;
  top: 400px;
  left: 1150px;
 
  
} */